body {
  font-family: Arial;
}

button {
  cursor: pointer;
  color: white;
  font-size: 15px;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
}

.todo-grid, .todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input, .due-date-input {
  padding: 6px;
  font-size: 15px;
}

.add-todo-button {
  background-color: green;
}

.delete-todo-button {
  background-color: darkred;
}
